@using Lab4.Models;
@model IEnumerable<Lab4.Models.Student>


@{
    ViewData["Title"] = "Index";
    ICollection<Community> MyCommunities = ViewBag.MyCommunities;
}
<link rel="stylesheet" href="~/StyleSheet.css" />
<link rel="stylesheet" href="~/bootstrap.min.css" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Select" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="EditMemberships" asp-route-id="@item.Id">Edit Memberships</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (MyCommunities != null)
{
    <p>
        <h2>Member of the following communities</h2>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var community in MyCommunities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => community.Title)
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
